# Python Pandas Data Science Tutorial

In [98]:
import pandas as pd

In [99]:
df = pd.read_csv('pokemon_data.csv');

In [100]:
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [101]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [102]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [103]:
#To read excel Data

In [104]:
df_xlsx = pd.read_excel('pokemon_data.xlsx')

In [105]:
df_xlsx.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

#To read a txt file(tab separated)

In [106]:
df_txt = pd.read_csv('pokemon_data.txt')

In [107]:
df_txt.head()

  #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1  2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2  3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3  3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
4  4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t65\...

In [108]:
df_txt = pd.read_csv('pokemon_data.txt', delimiter='\t')

In [109]:
df_txt.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

Reading Data in CSV

In [110]:
#Read Headers

df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [111]:
##Read Each column

df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [112]:
df['Name'][0:3]

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Name, dtype: object

In [113]:
#For multiple Coulmns we need to pass the column names in List

df[['Name','Defense','Speed']]

                      Name  Defense  Speed
0                Bulbasaur       49     45
1                  Ivysaur       63     60
2                 Venusaur       83     80
3    VenusaurMega Venusaur      123     80
4               Charmander       43     65
..                     ...      ...    ...
795                Diancie      150     50
796    DiancieMega Diancie      110    110
797    HoopaHoopa Confined       60     70
798     HoopaHoopa Unbound       60     80
799              Volcanion      120     70

[800 rows x 3 columns]

In [114]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [115]:
##Read each Row
#iloc stands for integer location
df.iloc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [116]:
#To read a specific location(Row, Column)
print(df.iloc[2,1])

Venusaur

In [117]:
for index, row in df.iterrows():
    print(index, row['Name'].head())

AttributeError: 'str' object has no attribute 'head'

In [118]:
#The error is happening because you're trying to call .head() on a string object, which isn't valid. 
#The .head() method is typically used with pandas DataFrame or Series objects to return the first few rows.

In [119]:
for index, row in df.iterrows():
    print(index, row['Name'][0:5])

0 Bulba
1 Ivysa
2 Venus
3 Venus
4 Charm
5 Charm
6 Chari
7 Chari
8 Chari
9 Squir
10 Warto
11 Blast
12 Blast
13 Cater
14 Metap
15 Butte
16 Weedl
17 Kakun
18 Beedr
19 Beedr
20 Pidge
21 Pidge
22 Pidge
23 Pidge
24 Ratta
25 Ratic
26 Spear
27 Fearo
28 Ekans
29 Arbok
30 Pikac
31 Raich
32 Sands
33 Sands
34 Nidor
35 Nidor
36 Nidoq
37 Nidor
38 Nidor
39 Nidok
40 Clefa
41 Clefa
42 Vulpi
43 Ninet
44 Jiggl
45 Wiggl
46 Zubat
47 Golba
48 Oddis
49 Gloom
50 Vilep
51 Paras
52 Paras
53 Venon
54 Venom
55 Digle
56 Dugtr
57 Meowt
58 Persi
59 Psydu
60 Goldu
61 Manke
62 Prime
63 Growl
64 Arcan
65 Poliw
66 Poliw
67 Poliw
68 Abra
69 Kadab
70 Alaka
71 Alaka
72 Macho
73 Macho
74 Macha
75 Bells
76 Weepi
77 Victr
78 Tenta
79 Tenta
80 Geodu
81 Grave
82 Golem
83 Ponyt
84 Rapid
85 Slowp
86 Slowb
87 Slowb
88 Magne
89 Magne
90 Farfe
91 Doduo
92 Dodri
93 Seel
94 Dewgo
95 Grime
96 Muk
97 Shell
98 Cloys
99 Gastl
100 Haunt
101 Genga
102 Genga
103 Onix
104 Drowz
105 Hypno
106 Krabb
107 Kingl
108 Volto
109 Elect
110 Exegg
111 Exegg
112 Cubon
113 Marow
114 Hitmo
115 Hitmo
116 Licki
117 Koffi
118 Weezi
119 Rhyho
120 Rhydo
121 Chans
122 Tange
123 Kanga
124 Kanga
125 Horse
126 Seadr
127 Golde
128 Seaki
129 Stary
130 Starm
131 Mr. M
132 Scyth
133 Jynx
134 Elect
135 Magma
136 Pinsi
137 Pinsi
138 Tauro
139 Magik
140 Gyara
141 Gyara
142 Lapra
143 Ditto
144 Eevee
145 Vapor
146 Jolte
147 Flare
148 Poryg
149 Omany
150 Omast
151 Kabut
152 Kabut
153 Aerod
154 Aerod
155 Snorl
156 Artic
157 Zapdo
158 Moltr
159 Drati
160 Drago
161 Drago
162 Mewtw
163 Mewtw
164 Mewtw
165 Mew
166 Chiko
167 Bayle
168 Megan
169 Cynda
170 Quila
171 Typhl
172 Totod
173 Croco
174 Feral
175 Sentr
176 Furre
177 Hooth
178 Nocto
179 Ledyb
180 Ledia
181 Spina
182 Ariad
183 Croba
184 Chinc
185 Lantu
186 Pichu
187 Cleff
188 Iggly
189 Togep
190 Toget
191 Natu
192 Xatu
193 Maree
194 Flaaf
195 Ampha
196 Ampha
197 Bello
198 Maril
199 Azuma
200 Sudow
201 Polit
202 Hoppi
203 Skipl
204 Jumpl
205 Aipom
206 Sunke
207 Sunfl
208 Yanma
209 Woope
210 Quags
211 Espeo
212 Umbre
213 Murkr
214 Slowk
215 Misdr
216 Unown
217 Wobbu
218 Giraf
219 Pinec
220 Forre
221 Dunsp
222 Gliga
223 Steel
224 Steel
225 Snubb
226 Granb
227 Qwilf
228 Scizo
229 Scizo
230 Shuck
231 Herac
232 Herac
233 Sneas
234 Teddi
235 Ursar
236 Slugm
237 Magca
238 Swinu
239 Pilos
240 Corso
241 Remor
242 Octil
243 Delib
244 Manti
245 Skarm
246 Hound
247 Hound
248 Hound
249 Kingd
250 Phanp
251 Donph
252 Poryg
253 Stant
254 Smear
255 Tyrog
256 Hitmo
257 Smooc
258 Eleki
259 Magby
260 Milta
261 Bliss
262 Raiko
263 Entei
264 Suicu
265 Larvi
266 Pupit
267 Tyran
268 Tyran
269 Lugia
270 Ho-oh
271 Celeb
272 Treec
273 Grovy
274 Scept
275 Scept
276 Torch
277 Combu
278 Blazi
279 Blazi
280 Mudki
281 Marsh
282 Swamp
283 Swamp
284 Pooch
285 Might
286 Zigza
287 Linoo
288 Wurmp
289 Silco
290 Beaut
291 Casco
292 Dusto
293 Lotad
294 Lombr
295 Ludic
296 Seedo
297 Nuzle
298 Shift
299 Taill
300 Swell
301 Wingu
302 Pelip
303 Ralts
304 Kirli
305 Garde
306 Garde
307 Sursk
308 Masqu
309 Shroo
310 Brelo
311 Slako
312 Vigor
313 Slaki
314 Ninca
315 Ninja
316 Shedi
317 Whism
318 Loudr
319 Explo
320 Makuh
321 Hariy
322 Azuri
323 Nosep
324 Skitt
325 Delca
326 Sable
327 Sable
328 Mawil
329 Mawil
330 Aron
331 Lairo
332 Aggro
333 Aggro
334 Medit
335 Medic
336 Medic
337 Elect
338 Manec
339 Manec
340 Plusl
341 Minun
342 Volbe
343 Illum
344 Rosel
345 Gulpi
346 Swalo
347 Carva
348 Sharp
349 Sharp
350 Wailm
351 Wailo
352 Numel
353 Camer
354 Camer
355 Torko
356 Spoin
357 Grump
358 Spind
359 Trapi
360 Vibra
361 Flygo
362 Cacne
363 Cactu
364 Swabl
365 Altar
366 Altar
367 Zango
368 Sevip
369 Lunat
370 Solro
371 Barbo
372 Whisc
373 Corph
374 Crawd
375 Balto
376 Clayd
377 Lilee
378 Cradi
379 Anori
380 Armal
381 Feeba
382 Milot
383 Castf
384 Kecle
385 Shupp
386 Banet
387 Banet
388 Dusku
389 Duscl
390 Tropi
391 Chime
392 Absol
393 Absol
394 Wynau
395 Snoru
396 Glali
397 Glali
398 Sphea
399 Seale
400 Walre
401 Clamp
402 Hunta
403 Goreb
404 Relic
405 Luvdi
406 Bagon
407 Shelg
408 Salam
409 Salam
410 Beldu
411 Metan
412 Metag
413 Metag
414 Regir
415 Regic
416 Regis
417 Latia
418 Latia
419 Latio
420 Latio
421 Kyogr
422 Kyogr
423 Groud
424 Groud
425 Rayqu
426 Rayqu
427 Jirac
428 Deoxy
429 Deoxy
430 Deoxy
431 Deoxy
432 Turtw
433 Grotl
434 Torte
435 Chimc
436 Monfe
437 Infer
438 Piplu
439 Prinp
440 Empol
441 Starl
442 Stara
443 Stara
444 Bidoo
445 Bibar
446 Krick
447 Krick
448 Shinx
449 Luxio
450 Luxra
451 Budew
452 Roser
453 Crani
454 Rampa
455 Shiel
456 Basti
457 Burmy
458 Worma
459 Worma
460 Worma
461 Mothi
462 Combe
463 Vespi
464 Pachi
465 Buize
466 Float
467 Cheru
468 Cherr
469 Shell
470 Gastr
471 Ambip
472 Drifl
473 Drifb
474 Bunea
475 Lopun
476 Lopun
477 Misma
478 Honch
479 Glame
480 Purug
481 Ching
482 Stunk
483 Skunt
484 Bronz
485 Bronz
486 Bonsl
487 Mime
488 Happi
489 Chato
490 Spiri
491 Gible
492 Gabit
493 Garch
494 Garch
495 Munch
496 Riolu
497 Lucar
498 Lucar
499 Hippo
500 Hippo
501 Skoru
502 Drapi
503 Croag
504 Toxic
505 Carni
506 Finne
507 Lumin
508 Manty
509 Snove
510 Aboma
511 Aboma
512 Weavi
513 Magne
514 Licki
515 Rhype
516 Tangr
517 Elect
518 Magmo
519 Togek
520 Yanme
521 Leafe
522 Glace
523 Glisc
524 Mamos
525 Poryg
526 Galla
527 Galla
528 Probo
529 Duskn
530 Frosl
531 Rotom
532 Rotom
533 Rotom
534 Rotom
535 Rotom
536 Rotom
537 Uxie
538 Mespr
539 Azelf
540 Dialg
541 Palki
542 Heatr
543 Regig
544 Girat
545 Girat
546 Cress
547 Phion
548 Manap
549 Darkr
550 Shaym
551 Shaym
552 Arceu
553 Victi
554 Snivy
555 Servi
556 Serpe
557 Tepig
558 Pigni
559 Emboa
560 Oshaw
561 Dewot
562 Samur
563 Patra
564 Watch
565 Lilli
566 Herdi
567 Stout
568 Purrl
569 Liepa
570 Pansa
571 Simis
572 Panse
573 Simis
574 Panpo
575 Simip
576 Munna
577 Musha
578 Pidov
579 Tranq
580 Unfez
581 Blitz
582 Zebst
583 Rogge
584 Boldo
585 Gigal
586 Wooba
587 Swoob
588 Drilb
589 Excad
590 Audin
591 Audin
592 Timbu
593 Gurdu
594 Conke
595 Tympo
596 Palpi
597 Seism
598 Throh
599 Sawk
600 Sewad
601 Swadl
602 Leava
603 Venip
604 Whirl
605 Scoli
606 Cotto
607 Whims
608 Petil
609 Lilli
610 Bascu
611 Sandi
612 Kroko
613 Krook
614 Darum
615 Darma
616 Darma
617 Marac
618 Dwebb
619 Crust
620 Scrag
621 Scraf
622 Sigil
623 Yamas
624 Cofag
625 Tirto
626 Carra
627 Arche
628 Arche
629 Trubb
630 Garbo
631 Zorua
632 Zoroa
633 Mincc
634 Cincc
635 Gothi
636 Gotho
637 Gothi
638 Solos
639 Duosi
640 Reuni
641 Duckl
642 Swann
643 Vanil
644 Vanil
645 Vanil
646 Deerl
647 Sawsb
648 Emolg
649 Karra
650 Escav
651 Foong
652 Amoon
653 Frill
654 Jelli
655 Alomo
656 Jolti
657 Galva
658 Ferro
659 Ferro
660 Klink
661 Klang
662 Klink
663 Tynam
664 Eelek
665 Eelek
666 Elgye
667 Behee
668 Litwi
669 Lampe
670 Chand
671 Axew
672 Fraxu
673 Haxor
674 Cubch
675 Beart
676 Cryog
677 Shelm
678 Accel
679 Stunf
680 Mienf
681 Miens
682 Drudd
683 Golet
684 Golur
685 Pawni
686 Bisha
687 Bouff
688 Ruffl
689 Bravi
690 Vulla
691 Mandi
692 Heatm
693 Duran
694 Deino
695 Zweil
696 Hydre
697 Larve
698 Volca
699 Cobal
700 Terra
701 Viriz
702 Torna
703 Torna
704 Thund
705 Thund
706 Reshi
707 Zekro
708 Lando
709 Lando
710 Kyure
711 Kyure
712 Kyure
713 Kelde
714 Kelde
715 Meloe
716 Meloe
717 Genes
718 Chesp
719 Quill
720 Chesn
721 Fenne
722 Braix
723 Delph
724 Froak
725 Froga
726 Greni
727 Bunne
728 Digge
729 Fletc
730 Fletc
731 Talon
732 Scatt
733 Spewp
734 Vivil
735 Litle
736 Pyroa
737 FlabÃ©
738 Floet
739 Florg
740 Skidd
741 Gogoa
742 Panch
743 Pango
744 Furfr
745 Espur
746 Meows
747 Meows
748 Honed
749 Doubl
750 Aegis
751 Aegis
752 Sprit
753 Aroma
754 Swirl
755 Slurp
756 Inkay
757 Malam
758 Binac
759 Barba
760 Skrel
761 Draga
762 Claun
763 Clawi
764 Helio
765 Helio
766 Tyrun
767 Tyran
768 Amaur
769 Auror
770 Sylve
771 Hawlu
772 Deden
773 Carbi
774 Goomy
775 Sligg
776 Goodr
777 Klefk
778 Phant
779 Treve
780 Pumpk
781 Pumpk
782 Pumpk
783 Pumpk
784 Gourg
785 Gourg
786 Gourg
787 Gourg
788 Bergm
789 Avalu
790 Noiba
791 Noive
792 Xerne
793 Yvelt
794 Zygar
795 Dianc
796 Dianc
797 Hoopa
798 Hoopa
799 Volca

In [120]:
for index, row in df.iterrows():
    print(index, row['Name'][:5])  # Displays first 5 characters

0 Bulba
1 Ivysa
2 Venus
3 Venus
4 Charm
5 Charm
6 Chari
7 Chari
8 Chari
9 Squir
10 Warto
11 Blast
12 Blast
13 Cater
14 Metap
15 Butte
16 Weedl
17 Kakun
18 Beedr
19 Beedr
20 Pidge
21 Pidge
22 Pidge
23 Pidge
24 Ratta
25 Ratic
26 Spear
27 Fearo
28 Ekans
29 Arbok
30 Pikac
31 Raich
32 Sands
33 Sands
34 Nidor
35 Nidor
36 Nidoq
37 Nidor
38 Nidor
39 Nidok
40 Clefa
41 Clefa
42 Vulpi
43 Ninet
44 Jiggl
45 Wiggl
46 Zubat
47 Golba
48 Oddis
49 Gloom
50 Vilep
51 Paras
52 Paras
53 Venon
54 Venom
55 Digle
56 Dugtr
57 Meowt
58 Persi
59 Psydu
60 Goldu
61 Manke
62 Prime
63 Growl
64 Arcan
65 Poliw
66 Poliw
67 Poliw
68 Abra
69 Kadab
70 Alaka
71 Alaka
72 Macho
73 Macho
74 Macha
75 Bells
76 Weepi
77 Victr
78 Tenta
79 Tenta
80 Geodu
81 Grave
82 Golem
83 Ponyt
84 Rapid
85 Slowp
86 Slowb
87 Slowb
88 Magne
89 Magne
90 Farfe
91 Doduo
92 Dodri
93 Seel
94 Dewgo
95 Grime
96 Muk
97 Shell
98 Cloys
99 Gastl
100 Haunt
101 Genga
102 Genga
103 Onix
104 Drowz
105 Hypno
106 Krabb
107 Kingl
108 Volto
109 Elect
110 Exegg
111 Exegg
112 Cubon
113 Marow
114 Hitmo
115 Hitmo
116 Licki
117 Koffi
118 Weezi
119 Rhyho
120 Rhydo
121 Chans
122 Tange
123 Kanga
124 Kanga
125 Horse
126 Seadr
127 Golde
128 Seaki
129 Stary
130 Starm
131 Mr. M
132 Scyth
133 Jynx
134 Elect
135 Magma
136 Pinsi
137 Pinsi
138 Tauro
139 Magik
140 Gyara
141 Gyara
142 Lapra
143 Ditto
144 Eevee
145 Vapor
146 Jolte
147 Flare
148 Poryg
149 Omany
150 Omast
151 Kabut
152 Kabut
153 Aerod
154 Aerod
155 Snorl
156 Artic
157 Zapdo
158 Moltr
159 Drati
160 Drago
161 Drago
162 Mewtw
163 Mewtw
164 Mewtw
165 Mew
166 Chiko
167 Bayle
168 Megan
169 Cynda
170 Quila
171 Typhl
172 Totod
173 Croco
174 Feral
175 Sentr
176 Furre
177 Hooth
178 Nocto
179 Ledyb
180 Ledia
181 Spina
182 Ariad
183 Croba
184 Chinc
185 Lantu
186 Pichu
187 Cleff
188 Iggly
189 Togep
190 Toget
191 Natu
192 Xatu
193 Maree
194 Flaaf
195 Ampha
196 Ampha
197 Bello
198 Maril
199 Azuma
200 Sudow
201 Polit
202 Hoppi
203 Skipl
204 Jumpl
205 Aipom
206 Sunke
207 Sunfl
208 Yanma
209 Woope
210 Quags
211 Espeo
212 Umbre
213 Murkr
214 Slowk
215 Misdr
216 Unown
217 Wobbu
218 Giraf
219 Pinec
220 Forre
221 Dunsp
222 Gliga
223 Steel
224 Steel
225 Snubb
226 Granb
227 Qwilf
228 Scizo
229 Scizo
230 Shuck
231 Herac
232 Herac
233 Sneas
234 Teddi
235 Ursar
236 Slugm
237 Magca
238 Swinu
239 Pilos
240 Corso
241 Remor
242 Octil
243 Delib
244 Manti
245 Skarm
246 Hound
247 Hound
248 Hound
249 Kingd
250 Phanp
251 Donph
252 Poryg
253 Stant
254 Smear
255 Tyrog
256 Hitmo
257 Smooc
258 Eleki
259 Magby
260 Milta
261 Bliss
262 Raiko
263 Entei
264 Suicu
265 Larvi
266 Pupit
267 Tyran
268 Tyran
269 Lugia
270 Ho-oh
271 Celeb
272 Treec
273 Grovy
274 Scept
275 Scept
276 Torch
277 Combu
278 Blazi
279 Blazi
280 Mudki
281 Marsh
282 Swamp
283 Swamp
284 Pooch
285 Might
286 Zigza
287 Linoo
288 Wurmp
289 Silco
290 Beaut
291 Casco
292 Dusto
293 Lotad
294 Lombr
295 Ludic
296 Seedo
297 Nuzle
298 Shift
299 Taill
300 Swell
301 Wingu
302 Pelip
303 Ralts
304 Kirli
305 Garde
306 Garde
307 Sursk
308 Masqu
309 Shroo
310 Brelo
311 Slako
312 Vigor
313 Slaki
314 Ninca
315 Ninja
316 Shedi
317 Whism
318 Loudr
319 Explo
320 Makuh
321 Hariy
322 Azuri
323 Nosep
324 Skitt
325 Delca
326 Sable
327 Sable
328 Mawil
329 Mawil
330 Aron
331 Lairo
332 Aggro
333 Aggro
334 Medit
335 Medic
336 Medic
337 Elect
338 Manec
339 Manec
340 Plusl
341 Minun
342 Volbe
343 Illum
344 Rosel
345 Gulpi
346 Swalo
347 Carva
348 Sharp
349 Sharp
350 Wailm
351 Wailo
352 Numel
353 Camer
354 Camer
355 Torko
356 Spoin
357 Grump
358 Spind
359 Trapi
360 Vibra
361 Flygo
362 Cacne
363 Cactu
364 Swabl
365 Altar
366 Altar
367 Zango
368 Sevip
369 Lunat
370 Solro
371 Barbo
372 Whisc
373 Corph
374 Crawd
375 Balto
376 Clayd
377 Lilee
378 Cradi
379 Anori
380 Armal
381 Feeba
382 Milot
383 Castf
384 Kecle
385 Shupp
386 Banet
387 Banet
388 Dusku
389 Duscl
390 Tropi
391 Chime
392 Absol
393 Absol
394 Wynau
395 Snoru
396 Glali
397 Glali
398 Sphea
399 Seale
400 Walre
401 Clamp
402 Hunta
403 Goreb
404 Relic
405 Luvdi
406 Bagon
407 Shelg
408 Salam
409 Salam
410 Beldu
411 Metan
412 Metag
413 Metag
414 Regir
415 Regic
416 Regis
417 Latia
418 Latia
419 Latio
420 Latio
421 Kyogr
422 Kyogr
423 Groud
424 Groud
425 Rayqu
426 Rayqu
427 Jirac
428 Deoxy
429 Deoxy
430 Deoxy
431 Deoxy
432 Turtw
433 Grotl
434 Torte
435 Chimc
436 Monfe
437 Infer
438 Piplu
439 Prinp
440 Empol
441 Starl
442 Stara
443 Stara
444 Bidoo
445 Bibar
446 Krick
447 Krick
448 Shinx
449 Luxio
450 Luxra
451 Budew
452 Roser
453 Crani
454 Rampa
455 Shiel
456 Basti
457 Burmy
458 Worma
459 Worma
460 Worma
461 Mothi
462 Combe
463 Vespi
464 Pachi
465 Buize
466 Float
467 Cheru
468 Cherr
469 Shell
470 Gastr
471 Ambip
472 Drifl
473 Drifb
474 Bunea
475 Lopun
476 Lopun
477 Misma
478 Honch
479 Glame
480 Purug
481 Ching
482 Stunk
483 Skunt
484 Bronz
485 Bronz
486 Bonsl
487 Mime
488 Happi
489 Chato
490 Spiri
491 Gible
492 Gabit
493 Garch
494 Garch
495 Munch
496 Riolu
497 Lucar
498 Lucar
499 Hippo
500 Hippo
501 Skoru
502 Drapi
503 Croag
504 Toxic
505 Carni
506 Finne
507 Lumin
508 Manty
509 Snove
510 Aboma
511 Aboma
512 Weavi
513 Magne
514 Licki
515 Rhype
516 Tangr
517 Elect
518 Magmo
519 Togek
520 Yanme
521 Leafe
522 Glace
523 Glisc
524 Mamos
525 Poryg
526 Galla
527 Galla
528 Probo
529 Duskn
530 Frosl
531 Rotom
532 Rotom
533 Rotom
534 Rotom
535 Rotom
536 Rotom
537 Uxie
538 Mespr
539 Azelf
540 Dialg
541 Palki
542 Heatr
543 Regig
544 Girat
545 Girat
546 Cress
547 Phion
548 Manap
549 Darkr
550 Shaym
551 Shaym
552 Arceu
553 Victi
554 Snivy
555 Servi
556 Serpe
557 Tepig
558 Pigni
559 Emboa
560 Oshaw
561 Dewot
562 Samur
563 Patra
564 Watch
565 Lilli
566 Herdi
567 Stout
568 Purrl
569 Liepa
570 Pansa
571 Simis
572 Panse
573 Simis
574 Panpo
575 Simip
576 Munna
577 Musha
578 Pidov
579 Tranq
580 Unfez
581 Blitz
582 Zebst
583 Rogge
584 Boldo
585 Gigal
586 Wooba
587 Swoob
588 Drilb
589 Excad
590 Audin
591 Audin
592 Timbu
593 Gurdu
594 Conke
595 Tympo
596 Palpi
597 Seism
598 Throh
599 Sawk
600 Sewad
601 Swadl
602 Leava
603 Venip
604 Whirl
605 Scoli
606 Cotto
607 Whims
608 Petil
609 Lilli
610 Bascu
611 Sandi
612 Kroko
613 Krook
614 Darum
615 Darma
616 Darma
617 Marac
618 Dwebb
619 Crust
620 Scrag
621 Scraf
622 Sigil
623 Yamas
624 Cofag
625 Tirto
626 Carra
627 Arche
628 Arche
629 Trubb
630 Garbo
631 Zorua
632 Zoroa
633 Mincc
634 Cincc
635 Gothi
636 Gotho
637 Gothi
638 Solos
639 Duosi
640 Reuni
641 Duckl
642 Swann
643 Vanil
644 Vanil
645 Vanil
646 Deerl
647 Sawsb
648 Emolg
649 Karra
650 Escav
651 Foong
652 Amoon
653 Frill
654 Jelli
655 Alomo
656 Jolti
657 Galva
658 Ferro
659 Ferro
660 Klink
661 Klang
662 Klink
663 Tynam
664 Eelek
665 Eelek
666 Elgye
667 Behee
668 Litwi
669 Lampe
670 Chand
671 Axew
672 Fraxu
673 Haxor
674 Cubch
675 Beart
676 Cryog
677 Shelm
678 Accel
679 Stunf
680 Mienf
681 Miens
682 Drudd
683 Golet
684 Golur
685 Pawni
686 Bisha
687 Bouff
688 Ruffl
689 Bravi
690 Vulla
691 Mandi
692 Heatm
693 Duran
694 Deino
695 Zweil
696 Hydre
697 Larve
698 Volca
699 Cobal
700 Terra
701 Viriz
702 Torna
703 Torna
704 Thund
705 Thund
706 Reshi
707 Zekro
708 Lando
709 Lando
710 Kyure
711 Kyure
712 Kyure
713 Kelde
714 Kelde
715 Meloe
716 Meloe
717 Genes
718 Chesp
719 Quill
720 Chesn
721 Fenne
722 Braix
723 Delph
724 Froak
725 Froga
726 Greni
727 Bunne
728 Digge
729 Fletc
730 Fletc
731 Talon
732 Scatt
733 Spewp
734 Vivil
735 Litle
736 Pyroa
737 FlabÃ©
738 Floet
739 Florg
740 Skidd
741 Gogoa
742 Panch
743 Pango
744 Furfr
745 Espur
746 Meows
747 Meows
748 Honed
749 Doubl
750 Aegis
751 Aegis
752 Sprit
753 Aroma
754 Swirl
755 Slurp
756 Inkay
757 Malam
758 Binac
759 Barba
760 Skrel
761 Draga
762 Claun
763 Clawi
764 Helio
765 Helio
766 Tyrun
767 Tyran
768 Amaur
769 Auror
770 Sylve
771 Hawlu
772 Deden
773 Carbi
774 Goomy
775 Sligg
776 Goodr
777 Klefk
778 Phant
779 Treve
780 Pumpk
781 Pumpk
782 Pumpk
783 Pumpk
784 Gourg
785 Gourg
786 Gourg
787 Gourg
788 Bergm
789 Avalu
790 Noiba
791 Noive
792 Xerne
793 Yvelt
794 Zygar
795 Dianc
796 Dianc
797 Hoopa
798 Hoopa
799 Volca

In [121]:
# So when we want to print rows which are not integer based where 
# we want to add some filter based on lets say 'Name'

df.loc[df['Type 1'] == 'Fire']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Sorting / Describing Data

In [122]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [123]:
# Sort rows based on Names

df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [124]:
# To sort in Descending Order 
df.sort_values('Name', ascending = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [125]:
# Sorting Multiple Columns

df.sort_values(['Type 1','HP'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False

In [126]:
#To sort First Ascending and secondf one descending 
df.sort_values(['Type 1','HP'], ascending = [1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# Making Changes to the Data

In [127]:
df['Total'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']

In [128]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

# Drop a specific column

In [129]:
df = df.drop(columns = ['Total'])
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [130]:
# Another way to get the totals
#Here we used for all rows so (:) and for the columns we used (4(inclusive) and 10(exclusive means till col 9))
# axis = 1 means we are adding horizontaly and axis = 0 means vertically
df['Total'] = df.iloc[:,4:10].sum(axis = 1)
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [131]:
cols = list(df.columns)
print(cols)

['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total']

In [132]:
# Now we want to place total col in 4th place
df = df[cols[0:4]+cols[-1]+cols[4:12]]

TypeError: can only concatenate list (not "str") to list

In [133]:
#We can't add string so we will Place Total Col in List
df = df[cols[0:4]+[cols[-1]]+cols[4:12]]
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Saving Our Data/ CSV into Desired Format

In [134]:
df.to_csv('Modified_data.csv')

In [135]:
df_test = pd.read_csv('Modified_data.csv')
df_test.head()

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [136]:
#To revome the index from the csv file 
df.to_csv('Modified_data.csv', index = False)

In [137]:
#To save in excel file
df.to_excel('Modified_data.xlsx', index = False )

In [138]:
# To save the Data in TXT Tab Separated 
df.to_csv('Modified_data.txt', index = False, sep = '\t')

# Filtering Data

In [139]:
df.loc[(df['Type 1']=='Grass')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [140]:
df.loc[(df['Type 1']=='Grass') & (df['Type 2'] == 'Poison')] #Here I have Used AND condition

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,400,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,280,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [141]:
df.loc[(df['Type 1']=='Grass') | (df['Type 2'] == 'Poison')] #Here I have Used OR condition

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [142]:
#To store the filetered data in New DataFrame
new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [143]:
#So in the above data we can see that the indexation is wrong to make it right we have to use

In [144]:
#To reset index
new_df = new_df.reset_index()
new_df

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [145]:
#As in the above we can see that the old index has been saved as a new column so to drop that
new_df = new_df.reset_index(drop = True)
new_df

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [146]:
#Instead of every time assigning it to a DF we can simply use inplace = True to give correct index 
new_df.reset_index(drop = True, inplace=True)
new_df

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [147]:
#To display all the names that Contains Mega
df.loc[df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,600,75,90,90,140,90,115,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,618,68,85,65,165,135,100,3,False
327,302,SableyeMega Sableye,Dark,Ghost,480,50,85,125,85,115,20,3,False
329,303,MawileMega Mawile,Steel,Fairy,480,50,105,125,55,95,50,3,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,510,60,100,85,80,85,100,3,False
339,310,ManectricMega Manectric,Electric,NaN,575,70,75,80,135,80,135,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,560,70,140,70,110,65,105,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False
387,354,BanetteMega Banette,Ghost,NaN,555,64,165,75,93,83,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
397,362,GlalieMega Glalie,Ice,NaN,580,80,120,80,120,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,580,65,136,94,54,96,135,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False
591,531,AudinoMega Audino,Normal,Fairy,545,103,60,126,80,126,50,5,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [148]:
#To display all the names that doesnot Contains Mega
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [149]:
# Suppose we want to filter data using contains where Type 1 = Grass or Fire 
#For this we will use regex 
import re 
df.loc[df['Type 1'].str.contains('Fire|Grass', regex= True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [150]:
# The above one is Case Sensitive to ignore this we will use flags
df.loc[df['Type 1'].str.contains('fire|grass',flags = re.I, regex= True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [151]:
# I want the Pokemon Names starts with Pi
# ^ means the name starts with pi
# [a-z] means it can have anything within A to Z
# * means it ends with 0 or more characters
df.loc[df['Name'].str.contains('^pi[a-z]*',flags = re.I, regex= True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

# Conditional Changes

In [94]:
# Want to change Fire to Flamer in Type 1 Column
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,600,80,110,120,130,90,70,6,True

In [152]:
# Want to change Fire Pokemons Legendary = True
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [153]:
#If you want to change multiple values
df.loc[df['Total']>400, ['Generation','Legendary']] = 'Test Value'
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Test Value,Test Value
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test Value,Test Value
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Test Value,Test Value
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test Value,Test Value
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Test Value,Test Value
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test Value,Test Value
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test Value,Test Value
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Test Value,Test Value

In [154]:
#If you want to change multiple values for multiple columns(unique)
df.loc[df['Total']>400, ['Generation','Legendary']] = '34', 'Test 2'
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,34,Test 2
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,34,Test 2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,34,Test 2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,34,Test 2
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,34,Test 2
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,34,Test 2
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,34,Test 2
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,34,Test 2

# Aggregate Statistics (Group By)

In [156]:
df = pd.read_csv('modified_data.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [171]:
# To Find the Count of each in Type 1
df.groupby(df['Type 1']).count().sort_values('Defense', ascending = False)

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Water,112,112,53,112,112,112,112,112,112,112,112,112
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Flying,4,4,2,4,4,4,4,4,4,4,4,4

In [172]:
df['count'] = 1

In [175]:
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

# Working with Large set of Data

In [178]:
for df in pd.read_csv('modified_data.csv', chunksize=50):
    print("Chunk DF")
    print(df)

Chunk DF
     #                       Name    Type 1  Type 2  Total   HP  Attack  \
0    1                  Bulbasaur     Grass  Poison    318   45      49
1    2                    Ivysaur     Grass  Poison    405   60      62
2    3                   Venusaur     Grass  Poison    525   80      82
3    3      VenusaurMega Venusaur     Grass  Poison    625   80     100
4    4                 Charmander      Fire     NaN    309   39      52
5    5                 Charmeleon      Fire     NaN    405   58      64
6    6                  Charizard      Fire  Flying    534   78      84
7    6  CharizardMega Charizard X      Fire  Dragon    634   78     130
8    6  CharizardMega Charizard Y      Fire  Flying    634   78     104
9    7                   Squirtle     Water     NaN    314   44      48
10   8                  Wartortle     Water     NaN    405   59      63
11   9                  Blastoise     Water     NaN    530   79      83
12   9    BlastoiseMega Blastoise     Water     NaN    630   79     103
13  10                   Caterpie       Bug     NaN    195   45      30
14  11                    Metapod       Bug     NaN    205   50      20
15  12                 Butterfree       Bug  Flying    395   60      45
16  13                     Weedle       Bug  Poison    195   40      35
17  14                     Kakuna       Bug  Poison    205   45      25
18  15                   Beedrill       Bug  Poison    395   65      90
19  15      BeedrillMega Beedrill       Bug  Poison    495   65     150
20  16                     Pidgey    Normal  Flying    251   40      45
21  17                  Pidgeotto    Normal  Flying    349   63      60
22  18                    Pidgeot    Normal  Flying    479   83      80
23  18        PidgeotMega Pidgeot    Normal  Flying    579   83      80
24  19                    Rattata    Normal     NaN    253   30      56
25  20                   Raticate    Normal     NaN    413   55      81
26  21                    Spearow    Normal  Flying    262   40      60
27  22                     Fearow    Normal  Flying    442   65      90
28  23                      Ekans    Poison     NaN    288   35      60
29  24                      Arbok    Poison     NaN    438   60      85
30  25                    Pikachu  Electric     NaN    320   35      55
31  26                     Raichu  Electric     NaN    485   60      90
32  27                  Sandshrew    Ground     NaN    300   50      75
33  28                  Sandslash    Ground     NaN    450   75     100
34  29           Nidoran (Female)    Poison     NaN    275   55      47
35  30                   Nidorina    Poison     NaN    365   70      62
36  31                  Nidoqueen    Poison  Ground    505   90      92
37  32             Nidoran (Male)    Poison     NaN    273   46      57
38  33                   Nidorino    Poison     NaN    365   61      72
39  34                   Nidoking    Poison  Ground    505   81     102
40  35                   Clefairy     Fairy     NaN    323   70      45
41  36                   Clefable     Fairy     NaN    483   95      70
42  37                     Vulpix      Fire     NaN    299   38      41
43  38                  Ninetales      Fire     NaN    505   73      76
44  39                 Jigglypuff    Normal   Fairy    270  115      45
45  40                 Wigglytuff    Normal   Fairy    435  140      70
46  41                      Zubat    Poison  Flying    245   40      45
47  42                     Golbat    Poison  Flying    455   75      80
48  43                     Oddish     Grass  Poison    320   45      50
49  44                      Gloom     Grass  Poison    395   60      65

    Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        49       65       65     45           1      False
1        63       80       80     60           1      False
2        83      100      100     80           1      False
3       123      122      120     80           1      False
4        43       60       50     65           1      False
5        58       80       65     80           1      False
6        78      109       85    100           1      False
7       111      130       85    100           1      False
8        78      159      115    100           1      False
9        65       50       64     43           1      False
10       80       65       80     58           1      False
11      100       85      105     78           1      False
12      120      135      115     78           1      False
13       35       20       20     45           1      False
14       55       25       25     30           1      False
15       50       90       80     70           1      False
16       30       20       20     50           1      False
17       50       25       25     35           1      False
18       40       45       80     75           1      False
19       40       15       80    145           1      False
20       40       35       35     56           1      False
21       55       50       50     71           1      False
22       75       70       70    101           1      False
23       80      135       80    121           1      False
24       35       25       35     72           1      False
25       60       50       70     97           1      False
26       30       31       31     70           1      False
27       65       61       61    100           1      False
28       44       40       54     55           1      False
29       69       65       79     80           1      False
30       40       50       50     90           1      False
31       55       90       80    110           1      False
32       85       20       30     40           1      False
33      110       45       55     65           1      False
34       52       40       40     41           1      False
35       67       55       55     56           1      False
36       87       75       85     76           1      False
37       40       40       40     50           1      False
38       57       55       55     65           1      False
39       77       85       75     85           1      False
40       48       60       65     35           1      False
41       73       95       90     60           1      False
42       40       50       65     65           1      False
43       75       81      100    100           1      False
44       20       45       25     20           1      False
45       45       85       50     45           1      False
46       35       30       40     55           1      False
47       70       65       75     90           1      False
48       55       75       65     30           1      False
49       70       85       75     40           1      False
Chunk DF
     #                   Name    Type 1    Type 2  Total   HP  Attack  \
50  45              Vileplume     Grass    Poison    490   75      80
51  46                  Paras       Bug     Grass    285   35      70
52  47               Parasect       Bug     Grass    405   60      95
53  48                Venonat       Bug    Poison    305   60      55
54  49               Venomoth       Bug    Poison    450   70      65
55  50                Diglett    Ground       NaN    265   10      55
56  51                Dugtrio    Ground       NaN    405   35      80
57  52                 Meowth    Normal       NaN    290   40      45
58  53                Persian    Normal       NaN    440   65      70
59  54                Psyduck     Water       NaN    320   50      52
60  55                Golduck     Water       NaN    500   80      82
61  56                 Mankey  Fighting       NaN    305   40      80
62  57               Primeape  Fighting       NaN    455   65     105
63  58              Growlithe      Fire       NaN    350   55      70
64  59               Arcanine      Fire       NaN    555   90     110
65  60                Poliwag     Water       NaN    300   40      50
66  61              Poliwhirl     Water       NaN    385   65      65
67  62              Poliwrath     Water  Fighting    510   90      95
68  63                   Abra   Psychic       NaN    310   25      20
69  64                Kadabra   Psychic       NaN    400   40      35
70  65               Alakazam   Psychic       NaN    500   55      50
71  65  AlakazamMega Alakazam   Psychic       NaN    590   55      50
72  66                 Machop  Fighting       NaN    305   70      80
73  67                Machoke  Fighting       NaN    405   80     100
74  68                Machamp  Fighting       NaN    505   90     130
75  69             Bellsprout     Grass    Poison    300   50      75
76  70             Weepinbell     Grass    Poison    390   65      90
77  71             Victreebel     Grass    Poison    490   80     105
78  72              Tentacool     Water    Poison    335   40      40
79  73             Tentacruel     Water    Poison    515   80      70
80  74                Geodude      Rock    Ground    300   40      80
81  75               Graveler      Rock    Ground    390   55      95
82  76                  Golem      Rock    Ground    495   80     120
83  77                 Ponyta      Fire       NaN    410   50      85
84  78               Rapidash      Fire       NaN    500   65     100
85  79               Slowpoke     Water   Psychic    315   90      65
86  80                Slowbro     Water   Psychic    490   95      75
87  80    SlowbroMega Slowbro     Water   Psychic    590   95      75
88  81              Magnemite  Electric     Steel    325   25      35
89  82               Magneton  Electric     Steel    465   50      60
90  83             Farfetch'd    Normal    Flying    352   52      65
91  84                  Doduo    Normal    Flying    310   35      85
92  85                 Dodrio    Normal    Flying    460   60     110
93  86                   Seel     Water       NaN    325   65      45
94  87                Dewgong     Water       Ice    475   90      70
95  88                 Grimer    Poison       NaN    325   80      80
96  89                    Muk    Poison       NaN    500  105     105
97  90               Shellder     Water       NaN    305   30      65
98  91               Cloyster     Water       Ice    525   50      95
99  92                 Gastly     Ghost    Poison    310   30      35

    Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
50       85      110       90     50           1      False
51       55       45       55     25           1      False
52       80       60       80     30           1      False
53       50       40       55     45           1      False
54       60       90       75     90           1      False
55       25       35       45     95           1      False
56       50       50       70    120           1      False
57       35       40       40     90           1      False
58       60       65       65    115           1      False
59       48       65       50     55           1      False
60       78       95       80     85           1      False
61       35       35       45     70           1      False
62       60       60       70     95           1      False
63       45       70       50     60           1      False
64       80      100       80     95           1      False
65       40       40       40     90           1      False
66       65       50       50     90           1      False
67       95       70       90     70           1      False
68       15      105       55     90           1      False
69       30      120       70    105           1      False
70       45      135       95    120           1      False
71       65      175       95    150           1      False
72       50       35       35     35           1      False
73       70       50       60     45           1      False
74       80       65       85     55           1      False
75       35       70       30     40           1      False
76       50       85       45     55           1      False
77       65      100       70     70           1      False
78       35       50      100     70           1      False
79       65       80      120    100           1      False
80      100       30       30     20           1      False
81      115       45       45     35           1      False
82      130       55       65     45           1      False
83       55       65       65     90           1      False
84       70       80       80    105           1      False
85       65       40       40     15           1      False
86      110      100       80     30           1      False
87      180      130       80     30           1      False
88       70       95       55     45           1      False
89       95      120       70     70           1      False
90       55       58       62     60           1      False
91       45       35       35     75           1      False
92       70       60       60    100           1      False
93       55       45       70     45           1      False
94       80       70       95     70           1      False
95       50       40       50     25           1      False
96       75       65      100     50           1      False
97      100       45       25     40           1      False
98      180       85       45     70           1      False
99       30      100       35     80           1      False
Chunk DF
       #                       Name    Type 1   Type 2  Total   HP  Attack  \
100   93                    Haunter     Ghost   Poison    405   45      50
101   94                     Gengar     Ghost   Poison    500   60      65
102   94          GengarMega Gengar     Ghost   Poison    600   60      65
103   95                       Onix      Rock   Ground    385   35      45
104   96                    Drowzee   Psychic      NaN    328   60      48
105   97                      Hypno   Psychic      NaN    483   85      73
106   98                     Krabby     Water      NaN    325   30     105
107   99                    Kingler     Water      NaN    475   55     130
108  100                    Voltorb  Electric      NaN    330   40      30
109  101                  Electrode  Electric      NaN    480   60      50
110  102                  Exeggcute     Grass  Psychic    325   60      40
111  103                  Exeggutor     Grass  Psychic    520   95      95
112  104                     Cubone    Ground      NaN    320   50      50
113  105                    Marowak    Ground      NaN    425   60      80
114  106                  Hitmonlee  Fighting      NaN    455   50     120
115  107                 Hitmonchan  Fighting      NaN    455   50     105
116  108                  Lickitung    Normal      NaN    385   90      55
117  109                    Koffing    Poison      NaN    340   40      65
118  110                    Weezing    Poison      NaN    490   65      90
119  111                    Rhyhorn    Ground     Rock    345   80      85
120  112                     Rhydon    Ground     Rock    485  105     130
121  113                    Chansey    Normal      NaN    450  250       5
122  114                    Tangela     Grass      NaN    435   65      55
123  115                 Kangaskhan    Normal      NaN    490  105      95
124  115  KangaskhanMega Kangaskhan    Normal      NaN    590  105     125
125  116                     Horsea     Water      NaN    295   30      40
126  117                     Seadra     Water      NaN    440   55      65
127  118                    Goldeen     Water      NaN    320   45      67
128  119                    Seaking     Water      NaN    450   80      92
129  120                     Staryu     Water      NaN    340   30      45
130  121                    Starmie     Water  Psychic    520   60      75
131  122                   Mr. Mime   Psychic    Fairy    460   40      45
132  123                    Scyther       Bug   Flying    500   70     110
133  124                       Jynx       Ice  Psychic    455   65      50
134  125                 Electabuzz  Electric      NaN    490   65      83
135  126                     Magmar      Fire      NaN    495   65      95
136  127                     Pinsir       Bug      NaN    500   65     125
137  127          PinsirMega Pinsir       Bug   Flying    600   65     155
138  128                     Tauros    Normal      NaN    490   75     100
139  129                   Magikarp     Water      NaN    200   20      10
140  130                   Gyarados     Water   Flying    540   95     125
141  130      GyaradosMega Gyarados     Water     Dark    640   95     155
142  131                     Lapras     Water      Ice    535  130      85
143  132                      Ditto    Normal      NaN    288   48      48
144  133                      Eevee    Normal      NaN    325   55      55
145  134                   Vaporeon     Water      NaN    525  130      65
146  135                    Jolteon  Electric      NaN    525   65      65
147  136                    Flareon      Fire      NaN    525   65     130
148  137                    Porygon    Normal      NaN    395   65      60
149  138                    Omanyte      Rock    Water    355   35      40

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
100       45      115       55     95           1      False
101       60      130       75    110           1      False
102       80      170       95    130           1      False
103      160       30       45     70           1      False
104       45       43       90     42           1      False
105       70       73      115     67           1      False
106       90       25       25     50           1      False
107      115       50       50     75           1      False
108       50       55       55    100           1      False
109       70       80       80    140           1      False
110       80       60       45     40           1      False
111       85      125       65     55           1      False
112       95       40       50     35           1      False
113      110       50       80     45           1      False
114       53       35      110     87           1      False
115       79       35      110     76           1      False
116       75       60       75     30           1      False
117       95       60       45     35           1      False
118      120       85       70     60           1      False
119       95       30       30     25           1      False
120      120       45       45     40           1      False
121        5       35      105     50           1      False
122      115      100       40     60           1      False
123       80       40       80     90           1      False
124      100       60      100    100           1      False
125       70       70       25     60           1      False
126       95       95       45     85           1      False
127       60       35       50     63           1      False
128       65       65       80     68           1      False
129       55       70       55     85           1      False
130       85      100       85    115           1      False
131       65      100      120     90           1      False
132       80       55       80    105           1      False
133       35      115       95     95           1      False
134       57       95       85    105           1      False
135       57      100       85     93           1      False
136      100       55       70     85           1      False
137      120       65       90    105           1      False
138       95       40       70    110           1      False
139       55       15       20     80           1      False
140       79       60      100     81           1      False
141      109       70      130     81           1      False
142       80       85       95     60           1      False
143       48       48       48     48           1      False

In [179]:
new_df = pd.DataFrame(columns=df.columns)
new_df

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [180]:
for df in pd.read_csv('modified_data.csv',chunksize=5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df,results])

In [181]:
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Fire,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4
Fire,4,4,NaN,3,4,4,4,4,4,4,4,4,4
Water,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Bug,2,2,NaN,0,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Flying,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Fire,1,1,NaN,1,1,1,1,1,1,1,1,1,1
Psychic,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Rock,2,2,NaN,2,2,2,2,2,2,2,2,2,2